body
{
  background-color: black;
  color: white;
  font-family: arial;
}
h1
{
  color: grey;
  color: font-family: verdana;
}
.maindiv
{
  background-color: white;
  color: black;
  width: 400px;
  padding: 20px;
  border-radius: 25px;
  margin: 0 auto;
}
.form
{
  padding: 0 20px 20px 70px;
}
.form label
{
  width: 100px;
  display: inline-block;
  padding-top: 10px;
}
.highlight
{
  background-color: yellow;
}
